<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(90, 25, 139);
  overflow-x: hidden;
  padding-top: 20px;
  font-family:Georgia;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(222, 205, 236);
  display: block;
}

.sidenav a:hover {
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>
</head>
<body>
  <div class="sidenav">
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
  </div>

</body>
</html> 
